<div id="resUsageConatiner" class="box w100">
    <div class="box_top" >
        <div class="box_title">资源使用情况</div>
        <div class="box_btn">
            <a href="javascript:void(0)" id="refreshUserChart">刷新</a>
        </div>
    </div>
    <div class="box_content">
        <div class="chart" id="cpuUsageChart"></div>
        <div class="chart" id="memoryUsageChart"></div>
        <div class="chart" id="localStorChart"></div>
        <div class="chart" id="shareStorChart"></div>
        <div class="chart" id="ipUsageChart"></div>
    </div>
</div>
<div>
<div id="latestLogContainer" class="box w50 left"  style="height: 160px;">
    <div class="box_top">
        <div class="box_title">最新日志</div>
        <div class="box_btn">
            <a href="">刷新</a>
            <a href="#log">更多</a>
        </div>
    </div>
    <div class="box_content">

    </div>
</div>
<div id="latestAppContainer" class="box w50 right" style="height: 160px;">
    <div class="box_top">
        <div class="box_title">最新应用</div>
        <div class="box_btn">
            <a href="">刷新</a>
            <a href="#apprep">更多</a>
        </div>
    </div>
    <div class="box_content">

    </div>
</div>
</div>
